<!--/*******************************
10
******************************/-->

<!--/*******************************
12
******************************/-->
<%- include('template/cabecera',{tituloPagina:'Error'})%>

<body>
    <%- include('template/navbar') %>
    <h1 id="cuatroCEROcuatro">Página no encontrada</h1>
    <!--<h2>Ups! lo siento <%= usuario %> <%= apellido %></h2>-->
    <div class="container-fluid" id="img404">
        <img src="/img/404.jpg" alt="404" srcset="" class="img-fluid">
    </div>
    <%- include('template/footer') %>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>