<!--/*******************************
10
******************************/-->

<!--/*******************************
11
******************************/-->
<%- include('template/cabecera',{tituloPagina:'Contacto'})%>
<body>
    <%- include('template/navbar') %>
    <h1 id="contacto">Página de contacto</h1>
    <h2>Bienvenid@ <%= usuario %> <%= apellido %></h2>
    <%- include('template/footer') %>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>